body {
    background-color: #121212;
    color: #e0e0e0;
}

h1,
h2 {
    color: #FFD200;
}

a.btn-primary {
    background-color: #7C3AC1;
    border: none;
}

a.btn-primary:hover {
    background-color: #5f2c94;
}