/* public/css/style.css */

/* Stile per la navbar personalizzata */
.navbar {
    background-color: #ffc107 !important; /* Giallo warning standard */
}

/* Stile per le immagini delle card */
.card-img-top {
    height: 200px;
    object-fit: contain;
    padding: 15px;
}

/* Allineamento per le tabelle specifiche nei modal */
.td-list {
    text-align: left;
    font-size: 0.9rem;
}

/* Footer alerts */
.myDiv footer {
    margin-top: 20px;
}